//color
$color-primary :#55c57a;
$color-primary-light :#7ed56f;
$color-primary-dark:#28b485;
$color-grey-dark : #777;
$color-grey-light: #f7F7f7;
$color-white : #fff;
$color-black : #000;

//Font
$default-font-size : 1.6rem;

//grid
$grid-width: 114rem;
$gutter-vertival: 8rem;
$gutter-horizental : 6rem;